@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.our-team {
    width: 100%;
    min-height: 400vh;
    background-size: cover;
    background-color: #141131;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.Heading {
    /* position: absolute;
    top: 10vh;
    left: 27vw; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

/* display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; */
.meet-our-heads {
    display: flex;
    justify-content: center;
    gap: 0px;
    align-items: flex-start;
    flex-wrap: nowrap;
    /* important */
}

.image-container1 {
    display: flex;
    flex-direction: column;
    width: 24.14vw;
    height: 14.46vw;
    border-radius: 2.95vw;
    align-items: center;
    justify-content: end;
    padding-bottom: 3.5vw;
    margin-left: 8.2vw;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.overlay-cut {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s ease;
}

.overlay-cut::before {
    content: "";
    position: absolute;
    top: -3.97vw;
    /* left: -120px;
    width: 155px;
    height: 158px; */
    left: -7.94vw;
    width: 10.25vw;
    height: 10.45vw;
    background: #141131;
    border-radius: 27%;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s ease;
}


/* Show overlay on hover */
.image-container1:hover .overlay {
    opacity: 1;
}

.image-container2:hover .overlay {
    opacity: 1;
}

.image-container3:hover .overlay {
    opacity: 1;
}

.image-container4:hover .overlay {
    opacity: 1;
}

.image-container5:hover .overlay-cut {
    opacity: 1;
}

.image-container6:hover .overlay {
    opacity: 1;
}

.image-container7:hover .overlay {
    opacity: 1;
}

.image-container8:hover .overlay {
    opacity: 1;
}

.image-container9:hover .overlay {
    opacity: 1;
}

.image-container10:hover .overlay {
    opacity: 1;
}

.image-container11:hover .overlay {
    opacity: 1;
}

.image-container12:hover .overlay {
    opacity: 1;
}

.image-container13:hover .overlay {
    opacity: 1;
}

/* Icons styling */
.icons {
    display: flex;
    gap: 3.32vw;
}

.icons img {
    height: 2.5vw;
}




.image-container2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 22.07vw;
    height: 20.07vw;
    border-radius: 2.95vw;
    align-items: center;
    justify-content: end;
    padding-bottom: 3.5vw;
    margin-left: 8.2vw;
    z-index: 2;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6),
            rgba(24, 17, 77, 0.558));

}

.image-container3 {
    display: flex;
    flex-direction: column;
    width: 22.07vw;
    height: 25.25vw;
    border-radius: 2.95vw;
    align-items: center;
    justify-content: end;
    padding-bottom: 3.5vw;
    margin-left: 8.2vw;
    position: relative;
    overflow: hidden;
}

.image-container4 {
    display: flex;
    flex-direction: column;
    width: 22.07vw;
    height: 21.54vw;
    border-radius: 2.95vw;
    align-items: center;
    justify-content: end;
    padding-bottom: 3.5vw;
    margin-left: 8.2vw;
    position: relative;
    overflow: hidden;
}

.image-container5 {
    display: flex;
    flex-direction: column;
    /* width: 19.06vw;
    height: 27.1vw; */
    border-radius: 2.95vw;
    align-items: center;
    justify-content: end;
    padding-bottom: 3.5vw;
    position: relative;
    width: 20.64vw;
    height: 20.23vw;
    background: #141131;
    border-radius: 2.64vw;
    overflow: hidden;
    margin-left: -2vw;
    margin-top: -1vw;
    z-index: 0;
    position: relative;
    overflow: hidden;
}

.image-container6 {
    display: flex;
    flex-direction: column;
    width: 20.75vw;
    height: 27.22vw;
    border-radius: 2.95vw;
    align-items: center;
    justify-content: end;
    padding-bottom: 3.5vw;
    margin-top: -3vw;
    margin-left: -2vw;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.image-container7 {
    display: flex;
    flex-direction: column;
    width: 16.72vw;
    height: 29.5vw;
    border-radius: 2.95vw;
    align-items: center;
    justify-content: end;
    padding-bottom: 3.5vw;
    margin-left: -2vw;
    margin-top: 0rem;
    position: relative;
    overflow: hidden;
}

.image-container8 {
    display: flex;
    flex-direction: column;
    width: 18.75vw;
    height: 22.5vw;
    border-radius: 2.95vw;
    align-items: center;
    justify-content: end;
    padding-bottom: 3.5vw;
    margin-left: 0rem;
    margin-top: 0.2vw;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.image-container9 {
    display: flex;
    flex-direction: column;
    width: 18.75vw;
    height: 20.4vw;
    border-radius: 2.95vw;
    align-items: center;
    justify-content: end;
    padding-bottom: 3.5vw;
    margin-left: 0rem;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.image-container10 {
    display: flex;
    flex-direction: column;
    width: 22.75vw;
    height: 29.5vw;
    border-radius: 2.95vw;
    align-items: center;
    justify-content: end;
    padding-bottom: 3.5vw;
    margin-left: -3.5vw;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.image-container11 {
    display: flex;
    flex-direction: column;
    width: 18.75vw;
    height: 19.4vw;
    border-radius: 2.95vw;
    align-items: center;
    justify-content: end;
    padding-bottom: 3.5vw;
    margin-left: 0rem;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.image-container12 {
    display: flex;
    flex-direction: column;
    width: 18.75vw;
    height: 23.5vw;
    border-radius: 2.95vw;
    align-items: center;
    justify-content: end;
    padding-bottom: 3.5vw;
    margin-left: 0rem;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.image-container13 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18.75vw;
    height: 29.5vw;
    border-radius: 2.95vw;
    align-items: center;
    justify-content: end;
    padding-bottom: 3.5vw;
    margin-left: 0rem;
    z-index: 2;
    position: relative;
    overflow: hidden;
}


.col1 {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
    margin-right: 1vw;
    margin-left: -6vw;
}

.col2 {
    display: flex;
    flex-direction: column;
    margin-right: 1vw;
    row-gap: 1vw;
}

.col3 {
    display: flex;
    flex-direction: column;
    margin-right: 1vw;
    row-gap: 1vw;
}

.col4 {
    display: flex;
    flex-direction: column;
    margin-right: 1vw;
    row-gap: 1vw;
}





.Name {
    text-align: center;
    color: #FFF9F0;
    font-size: 1.59vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    word-wrap: break-word;

}

.POR {

    text-align: center;
    color: #FFF9F0;
    font-size: 1.59vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    word-wrap: break-word
}



.meet {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18.5vw;
    height: 12.36vw;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.meet-text {
    color: #141131;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 3.70369vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.our {
    display: flex;
    flex-direction: column;
    width: 18.5vw;
    height: 12.36vw;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.our-text {
    color: #141131;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 3.70369vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.heads {
    display: flex;
    flex-direction: column;
    width: 18.5vw;
    height: 12.36vw;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.heads-text {
    color: #141131;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 3.70369vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}




/* Top curved cut */
.card::before {
    content: "";
    position: absolute;
    top: -3.97vw;
    /* left: -120px;
    width: 155px;
    height: 158px; */
    left: -7.94vw;
    width: 10.25vw;
    height: 10.45vw;
    background: #141131;
    border-radius: 27%;
}

/* Image styling */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2.95vw;
}

.text-cut {

    width: 17.3vw;
    left: 1vw;
    top: 13vw;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.53vw;
    display: inline-flex
}

.subtract-left {
    position: absolute;
    top: 21vw;
    left: -3.8vw;
    width: 7vw;
    height: 6.7vw;
}

.subtract-top {
    position: absolute;
    top: -3.5vw;
    left: 15.67vw;
    width: 7vw;
    height: 6.7vw;
}

.subtract-right {
    position: absolute;
    top: -3.5vw;
    left: -4vw;
    width: 7vw;
    height: 7vw;
}











.managers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.column1 {
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    margin-right: 0.5vw;
    margin-left: 2vw;
}

.column2 {
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    margin-right: 0.5vw;
}

.column3 {
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    margin-right: 0.5vw;
}

.column4 {
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    margin-right: 0.5vw;
}

.column5 {
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    margin-right: 2vw;

}



.managers-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8vw;
    margin-bottom: 5vw;
    color: #FFF9F0;
    font-size: 8vw;
    font-family: 'Montserrat';
    font-weight: 900;
    word-wrap: 'break-word';
}

.pmx {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18.75vw;
    height: 29.5vw;
    border-radius: 2.95vw;
}

.pmx-text {
    color: #141131;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3vw;
    text-align: center;
    position: absolute;
    top: 12vw;
    left: 2.2vw;

}

.if {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18.75vw;
    height: 29.5vw;
    overflow: hidden;
    border-radius: 2.95vw;
}

.if-text {
    color: #141131;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.5vw;
    text-align: center;
    position: absolute;
    top: 13vw;
    left: 1vw;

}

.if-image1 {
    position: absolute;
    top: 13vw;
    left: 0.2vw;
    width: 15vw;
    height: 20vw;
}

.if-image2 {
    position: absolute;
    top: 15vw;
    left: 0.2vw;
    width: 15vw;
    height: 20vw;
}

.website {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18.75vw;
    height: 5.5vw;
    border-radius: 2.95vw;
}

.website-text {
    color: #141131;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3vw;
    text-align: center;
    position: absolute;
    top: 1vw;
    left: 2.2vw;
}

.design {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18.75vw;
    height: 29.5vw;
    margin-top: 6.5vw;
    border-radius: 2.95vw;
}

.design-text {
    color: #141131;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3vw;
    text-align: center;
    position: absolute;
    top: 13vw;
    left: 2.5vw;

}

.sparkle {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18.75vw;
    height: 29.5vw;
    overflow: hidden;
    border-radius: 2.95vw;
}

.sparkle-text {
    color: #141131;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.5vw;
    text-align: center;
    position: absolute;
    top: 13vw;
    left: 3vw;

}

.sparkle-image1 {
    position: absolute;
    top: 13vw;
    left: 2vw;
    width: 15vw;
    height: 20vw;
}

.ls {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18.75vw;
    height: 22.5vw;
    overflow: hidden;
    border-radius: 2.95vw;
    margin-top: 6vw;
}

.ls-text {
    color: #141131;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.5vw;
    text-align: center;
    position: absolute;
    top: 8vw;
    left: 3vw;
}

.ina {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18.75vw;
    height: 29.5vw;
    overflow: hidden;
    border-radius: 2.95vw;
}

.ina-text {
    color: #141131;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.5vw;
    text-align: center;
    position: absolute;
    top: 13vw;
    left: 7vw;
}

.disrupt {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18.75vw;
    height: 29.5vw;
    overflow: hidden;
    border-radius: 2.95vw;
    overflow: hidden;
    margin-top: 6vw;
}

.disrupt-text {
    color: #D9FE78;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.5vw;
    text-align: center;
    position: absolute;
    top: 13vw;
    left: 3.5vw;

}

.disrupt-image1 {
    position: absolute;
    top: 16vw;
    left: 1vw;
    width: 15vw;
    height: 20vw;
}

.marky {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18.75vw;
    height: 29.5vw;
    overflow: hidden;
    border-radius: 2.95vw;
}

.marky-text {
    color: #141131;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.5vw;
    text-align: center;
    position: absolute;
    top: 13vw;
    left: 1vw;
}

.expo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18.75vw;
    height: 30.5vw;
    overflow: hidden;
    border-radius: 2.95vw;
    overflow: hidden;
    margin-top: -1.5vw;

}

.expo-text {
    color: #141131;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.5vw;
    text-align: center;
    position: absolute;
    top: 10vw;
    left: 3.5vw;

}

.expo-image1 {
    position: absolute;
    top: 15vw;
    left: 0vw;
    width: 19vw;
    height: 20vw;
}

.prb {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18.75vw;
    height: 28.5vw;

    border-radius: 2.95vw;
}

.prb-text {
    color: #141131;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.5vw;
    text-align: center;
    position: absolute;
    top: 11vw;
    left: 2vw;
}

.purple-left {
    position: absolute;
    bottom: -4vw;
    left: -3.7vw;
    width: 7vw;
    height: 7vw;
    z-index: 5;
}

.purple-top {
    position: absolute;
    top: -3.7vw;
    right: -3.8vw;
    width: 7vw;
    height: 7vw;
    z-index: 5;
}

.purple-rtop {
    position: absolute;
    top: -3.5vw;
    left: -3.8vw;
    width: 7vw;
    height: 7vw;
    z-index: 10;
}

.purple-rbottom {
    position: absolute;
    bottom: -4vw;
    left: -3.7vw;
    width: 7vw;
    height: 7vw;
    z-index: 10;
}

.our-team-heading {
    color: #FFF9F0;
    font-size: 12vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    word-wrap: break-word;
}

.mobile {
    display: none;
}

